name: Ruby

on: [push]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['2.4', '2.5', '2.6', '2.7']

    steps:
    - uses: actions/checkout@v2
    - name: Install packages
      run: |
        sudo apt update -qy
        sudo apt install libdb-dev
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Run tests
      run: bundle exec rake
